* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* NavBar Css */
.navbar-nav {
  /* width: 100%; */
  /* margin-right: auto !important; */
  /* margin-left: auto !important; */
}
.nav-item a {
  color: white !important;
}
.nav-item a:hover {
  color: #e4f9ff !important;
}
.nav-item .active {
  color: #5888ff !important;
}
/* NewsCard css */
.card {
  text-align: justify !important;
}
.nav-link {
  cursor: pointer;
}
